<mat-toolbar class="tb mat-elevation-z4">
  <span class="txtEstabelecimento">Meus Pedidos</span>
  <span class="space"></span>
  <!--<button mat-icon-button class="spacer">
        <mat-icon style="color: #ff5722;" >
            account_circle</mat-icon>
    </button>-->
  <button mat-button [matMenuTriggerFor]="menu" *ngIf="logged; else logar" class="spacer">
    <mat-icon style="color: #ff5722;"> account_circle</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>{{user.displayName}}</button>
      <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>
  </button>

  <ng-template #logar>
    <button mat-button [matMenuTriggerFor]="menu" class="spacer">
      <b style="color: #ff5722;">Entrar</b>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="login()">Entrar com Google</button>
        <button mat-menu-item (click)="loginFace()">Entrar com Facebook</button>
      </mat-menu>
    </button>
  </ng-template>



</mat-toolbar>

<div class="conteinerLogin" *ngIf="logged">
  <mat-accordion class="card" *ngFor="let p of pedidos$|async">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{p.nomeVendedor}}
        </mat-panel-title>
        <mat-panel-description>
          {{p.preco | currency : 'R$'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{p.timestamp | date: 'HH:mm - dd/MM/yyyy'}}</p>
      <p *ngFor="let pedido of p.pedido"><b>{{pedido}}</b></p>
      <h4 *ngIf="p.status == 1">Status: <b style="color:red; font-weight: bold;">Aguardando resposta</b></h4>
      <h4 *ngIf="p.status == 2">Status: <b style="color:#f7ca18; font-weight: bold;">Em preparo</b></h4>
      <h4 *ngIf="p.status == 3 && p.delivery">Status: <b style="color:cornflowerblue; font-weight: bold;">Saiu para
          entrega</b></h4>
      <h4 *ngIf="p.status == 3 && !p.delivery">Status: <b style="color:cornflowerblue; font-weight: bold;">Esperando
          Retirada</b></h4>
      <h4 *ngIf="p.status == 4">Status: <b style="color:green; font-weight: bold;">Entregue</b></h4>
      <h4 *ngIf="p.desconto">Desconto: <b style="color: green;">{{p.desconto | currency: 'R$'}}</b></h4>
      <h4 *ngIf="p.delivery">Endereço de entrega: <b>{{p.endereco}}</b></h4>
      <h4 *ngIf="!p.delivery">Retirada em: <b>{{p.endereco}}</b></h4>
      <h4>Forma de pagamento: <b>{{p.formaPagamento}}</b></h4>
      <h4>Taxa de entrega: <b>{{p.entregaTaxa | currency : 'R$'}}</b></h4>
      <h4 *ngIf="p.troco">Troco: <b>{{p.troco | currency: 'R$'}}</b></h4>
      <div style="width: 100%; display: flex; justify-content: center;">
        <button mat-raised-button style="color:white; background: green;" (click)="enviarMsg(p)">Falar com
          {{p.nomeVendedor}}</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>

<div class="conteinerLogar" *ngIf="!logged">
  <article style="text-align: center; color: #ff5722; font-weight: 700; font-size: 1.5rem; margin: 0 5% 0 5%;">Para ver
    seus pedidos basta entrar na sua conta, clicando no botão no canto superior direito</article>
</div>