<div class="conteiner">
    <mat-accordion class="card" *ngFor="let p of finalizado$|async">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{p.nomeCliente}}
                </mat-panel-title>
                <mat-panel-description>
                    {{p.preco | currency : 'R$'}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{p.timestamp | date: 'HH:mm - dd/MM/yyyy'}}</p>
            <p *ngFor="let pedido of p.pedido"><b>{{pedido}}</b></p>
            <h4>Observação: <b>{{p.observacao}}</b></h4>
            <h4 *ngIf="p.desconto">Desconto: <b style="color: green;">{{p.desconto | currency: 'R$'}}</b></h4>
            <h4>Mesa: <b>{{p.mesa}}</b></h4>
            <h4>Forma de pagamento: <b>{{p.formaPagamento}}</b></h4>
            
            <h4 *ngIf="p.troco">Troco: <b>{{p.troco | currency: 'R$'}}</b></h4>
            <h4>TOTAL: <b>{{p.preco | currency : 'R$'}}</b></h4>
            <div class="actions">
                <div class="icons">
                    <button mat-icon-button>
                        <mat-icon style="color:orangered" (click)="print(p)">print</mat-icon>
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<button mat-mini-fab class="float-btn" (click)="goToLocalShop()">
    <mat-icon>add</mat-icon>
</button>