<div class="content">
    <img src="assets/icon.png" alt="">
    <div style="width: 100%;">
        
        <article>
            <h1>Termos de Uso</h1>
            <b>1. Serviços Oferecidos </b>
            <br><br>1.1 Este termo tem como objeto a regularização dos serviços oferecidos e aplicados pela plataforma
            Mabeko Delivery aos usuários, proporcionando um cardápio online aos usuários que podem escolher entre
            alimentos e bebidas afins, no estabelecimento cadastrado que, de maneira on-line, possa efetivar as
            solicitações para aquisição (e entrega em domicílio e retirada no local) dos produtos fornecidos pelos
            estabelecimentos, de acordo com o cardápio disponibilizado, sendo o pagamento dos mesmos feitos de forma
            acordada entre usuário e estabelecimento.
            <br><br>1.2. Os serviços da Mabeko consiste em facilitar o atendimento ao cliente, por meio de uma
            plataforma simples onde é possível realizar o pedido do produto desejado através do cardápio disponibilizado
            pelos estabelecimentos cadastrados, onde é possível decidir pela retirada em local do produto ou então optar
            pelo serviço de delivery feito pelos estabelecimentos cadastrados.
            <br><br>1.3. De antemão fica claro aos usuários que a Mabeko não se responsabiliza pelo atendimento,
            qualidade de entrega e produtos, embalagem, meios de pagamento e comercialização, que são itens e processos
            de responsabilidade integral do estabelecimento cadastrado, a quem deverá ser destinado quaisquer
            reclamações a respeito dos itens e processos ditos acima.
            <br><br><b>2. Cadastro</b>
            <br><br>2.1. O usuário, para utilizar os serviços acima descritos, deverá ter capacidade jurídica para atos
            civis e deverá, necessariamente, prestar as informações exigidas no cadastro, assumindo integralmente a
            responsabilidade (inclusive cível e criminal) pela exatidão e veracidade das informações fornecidas no
            cadastro, que poderá ser verificado, a qualquer momento, pela Mabeko. Em caso de informações incorretas,
            incompletas, inverídicas ou não confirmadas, a Mabeko não irá completar e confirmar o cadastro, bem como
            excluir os que caírem em suspeição de fraude e má fé.
            <br><br>2.2. Efetuado com sucesso o cadastro, o usuário terá acesso aos serviços por meio de login e senha,
            dados esses que se compromete a não divulgar a terceiros, ficando sob sua exclusiva responsabilidade
            qualquer solicitação de serviço que seja feita com o uso de login e senha de sua titularidade.
            <br><br><b>3. Obrigações do usuário </b>
            <br><br>3.1. Efetuado com sucesso o cadastro, o usuário se obriga a não divulgar a terceiros login e senha
            de acesso, nem permitir o uso de tais informações por terceiros, responsabilizando-se pelas consequências do
            uso de login e senha de sua titularidade.
            <br><br>3.2 É obrigatório também ao usuário, o pagamento integral dos preços dos produtos por ele
            solicitados ou encomendados junto ao estabelecimento e, quando a ele entregue efetuar o pagamento ao
            portador dos produtos encomendados por meio do cardápio online.
            <br><br>3.3. O usuário concorda com a utilização das informações de avaliações e feedbacks dos serviços dos
            restaurantes (estabelecimentos) e Mabeko.
            <br><br>3.4. É proíbido a venda de qualquer droga ilícita ou de produto que prejudique a vida humana com
            risco de vício ou morte
            <br><br><b>4. Obrigações da Mabeko </b>
            <br><br>4.1. Disponibilizar espaço virtual que permita ao usuário devidamente cadastrado efetivar pedidos de
            compra de gêneros alimentícios anunciados e comercializados nas lojas virtuais dos restaurantes. Aos
            estabelecimentos disponibilizar uma plataforma completa para receber e gerenciar pedidos de forma
            automatizada com objetivo de melhorar a experiência entre cliente e vendedor.
            <br><br>4.2. Proteger, por meio de armazenamento em servidores ou quaisquer outros meios magnéticos de alta
            segurança, a confidencialidade de todas as informações e cadastros relativos aos usuários, assim como
            valores atinentes às operações financeiras advindas da operacionalização dos serviços previstos no presente
            termo.
            <br><br><b>5. Modificações deste termo</b>
            <br><br>5.1. O presente termo de uso, poderá ser modificado a qualquer tempo, sempre com o objetivo de
            aperfeiçoar e dar melhores garantias e conforto ao usuário. As modificações serão efetivadas e legitimadas
            sempre 24 horas após a publicação das alterações, sendo que neste período poderá ser questionada pelo
            usuário via contato do website.
            <br><br><b>6. Canal de comunicação</b>
            <br><br>6.1. Para fazer contato com a Mabeko, o usuário deverá usar o link contato do website, obrigando-se
            a manter em seu cadastro, endereço eletrônico atualizado por meio do qual se farão as comunicações de
            feedback pela Mabeko, dando assim, validade jurídica e aceite desse meio eletrônico para troca de
            informações.
            <br><br><b>7. Aceitação do termo de uso</b>
            <br><br>7.1. O usuário declara ter feito completa leitura com entendimento e que aceita todas as regras e
            normas, condições e obrigações estabelecidas no presente termo de uso.

            <br><br>
            <h1>Termos de Privacidade</h1>
            <br><br><b>1. Uso de informações pessoais</b>
            <br><br>As Informações pessoais dos usuários são utilizadas para a identificação e para o devido contato de cada
            indivíduo caso seja necessário. Enquanto usuário do Mabeko, você poderá ser contactado a qualquer momento
            para fornecer mais informações para as devidas atualizações do cadastro. A Mabeko poderá compartilhar essas
            informações pessoais e utilizá-las de acordo com sua Política de Privacidade. A Mabeko poderá entre outras,
            ainda, associar essas informações pessoais com outras informações a fim aperfeiçoar seus produtos, serviços,
            fortalecendo sua presença no mercado por meio de publicidades e afins.
            2. Obtenção das Informações Pessoais
            Para se tornar usuário da Mabeko e usufruir dos serviços, você deverá preencher um cadastro com dados como
            seu nome, gênero, CPF, data de nascimento, endereço eletrônico, endereço físico, número de telefone e
            preferências de contato.
            A conta do usuário que dá acesso a Mabeko é protegida por uma senha e identificada por um nome de usuário. A
            responsabilidade pela boa guarda da senha é do usuário e, por essa razão, aconselhamos que sejam utilizadas
            senhas com um alto padrão de segurança.

            <br><br><b>3. Cookies e Tecnologias Afins</b>
            <br><br>A Mabeko obtém informações automaticamente dos seus usuários e parceiros fornecedores como endereços de IP,
            idiomas, navegadores, provedores de serviços de Internet, sistema operacional, informações sobre data e
            horário e dados estatísticos, sites de busca como o Google e redes sociais. O objetivo é tornar sua
            experiência com a Mabeko mais facilitada e personalizada. Neste caso, podemos conhecer algumas preferências
            suas para poder oferecer o que nossos parceiros têm de melhor.
            As informações estatísticas são usadas para o entendimento e aperfeiçoamento da plataforma Mabeko, assim
            como o melhor relacionamento com o usuário e os parceiros fornecedores, bem como legitimar dados de
            marketing e publicidade.

            <br><br><b>4. Das Dúvidas e Das Sugestões</b>
            <br><br>Toda e qualquer pessoa, usuário ou não, poderá solicitar informações para esclarecer eventuais dúvidas, bem
            como enviar sugestões ou reclamações. Para tanto, basta enviar sua informação para o endereço eletrônico
            previsto em nosso site
            A Mabeko poderá alterar a qualquer tempo alterar esta política de privacidade, visando melhorias, otimização
            dos serviços prestados e o bem estar das partes e usuários. O usuário poderá entrar em contato com a Mabeko
            há qualquer momento pelo e-mail ou contatos disponibilizados no site para reportar possíveis reclamações,
            dúvidas
        </article>
    </div>
</div>