<mat-toolbar class="tb mat-elevation-z4">
    <button mat-icon-button (click)="goToBack()">
        <mat-icon color="primary">keyboard_backspace</mat-icon>
    </button>
    <img src="assets/icon.png" alt="" class="logo">
</mat-toolbar>

<div class="conteiner">
    <div>

        <mat-form-field appearance="outline">
            <mat-label>Categoria</mat-label>
            <mat-select [(ngModel)]="mSelected" (selectionChange)="categoria($event)">
                <mat-option value=''>Todos</mat-option>
                <mat-option *ngFor="let c of user?.categorias" [value]="c">
                    {{c}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div class="box">
        <mat-card class="card" *ngFor="let p of produto$|async">

            <div class="contentcard1">
                <img src="{{p.urlProduto}}" class="imgProd" *ngIf="p.urlProduto; else noPhoto">
                <ng-template #noPhoto>
                    <img src="assets/ic_food.png" class="imgProd">
                </ng-template>
            </div>

            <div class="contentcard2">
                <article class="txtProd">{{p.nome}}</article>
                <article class="txtDesc">{{p.ingredientes}}</article>
                <article class="txtPreco">{{p.preco | currency : 'R$'}}</article>
            </div>

            <div class="contentcard3">
                <div class="icons">
                    <button mat-icon-button (click)="goToEdit(p)">
                        <mat-icon style="color:#ff5722">edit</mat-icon>
                    </button>
                </div>

                <div class="icons">
                    <button mat-icon-button *ngIf="p.visivel; else oculto" (click)="handleVisible(p.visivel, p.docId)">
                        <mat-icon style="color:#ff5722">visibility</mat-icon>
                    </button>
                    <ng-template #oculto>
                        <button mat-icon-button (click)="handleVisible(p.visivel, p.docId)">
                            <mat-icon style="color:#ff5722">visibility_off</mat-icon>
                        </button>
                    </ng-template>
                </div>

                <div class="icons">
                    <button mat-icon-button (click)="handleDelete(p.docId)">
                        <mat-icon style="color:#ff5722">delete</mat-icon>
                    </button>
                </div>
            </div>

        </mat-card>
    </div>
</div>

<button mat-mini-fab color="primary" class="float-button" (click)="goToAdd()">
    <mat-icon style="color: #fff">add</mat-icon>
</button>