<mat-toolbar class="tb mat-elevation-z4">
   <button mat-icon-button (click)="goToBack()">
      <mat-icon color="primary">keyboard_backspace</mat-icon>
   </button>
   <span class="txtEstabelecimento">Carrinho</span>
</mat-toolbar>

<ng-container *ngIf="logged || url?.receberPorWhatsapp; else logar">
   <div class="container-full" *ngIf="!loading; else loaded">
      <div class="container">
         <form [formGroup]="obs" style="margin-top: 10px;display: flex; flex-direction: column; align-items:center">
            <mat-form-field appearance="fill">
               <mat-label>Seu nome</mat-label>
               <input matInput formControlName="nome" placeholder="Seu nome" required autocomplete="off"
                  (input)="handleName($event.target)">
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="!url?.receberPorWhatsapp">
               <mat-label>Whatsapp com DDD</mat-label>
               <input matInput formControlName="fone" placeholder="Whatsapp com DDD" autocomplete="off" required type="number" (input)="handleFone($event.target)">
            </mat-form-field>

            <mat-form-field appearance="fill">
               <mat-label>Observação</mat-label>
               <input matInput formControlName="observation" placeholder="Observação" autocomplete="off">
            </mat-form-field>
   
            <article style="font-weight: bold; color: #ff5722; text-align: center;">Tipo de entrega</article>
            <mat-radio-group formControlName="delivery" (change)="handleDelivery($event)">
               <mat-radio-button value="true" style="margin: 5px">Delivery</mat-radio-button>
               <mat-radio-button value="false" style="margin: 5px">Retirada</mat-radio-button>
            </mat-radio-group>
   
            <ng-container>
               <!--<mat-form-field appearance="fill" *ngIf="entrega == 'true'; else retirada">
                  <mat-label>Endereco</mat-label>
                <input matInput  matGoogleMapsAutocomplete country="br" 
                    (onAutocompleteSelected)="onAutocompleteSelected($event)" formControlName="endereco">
               </mat-form-field>-->
               <mat-form-field style="width: 100%;" appearance="fill" *ngIf="entrega == 'true'; else retirada">
                  <mat-label>Endereço</mat-label>
                  <input matInput  matGoogleMapsAutocomplete country="br" 
                      (onAutocompleteSelected)="onAutocompleteSelected($event)" formControlName="endereco" >
              </mat-form-field>
               <ng-template #retirada>
                  <article style="font-weight:bold; color:#ff5722; text-align: center;" #endereco>Endereço para retirada: <br>{{url?.endereco}},
                     </article>
               </ng-template>
            </ng-container>

            <p style="text-align:center">Taxa de entrega: {{taxa | currency : 'R$'}}</p>
   
            <mat-form-field appearance="fill">
               <mat-label>Método de pagamento</mat-label>
               <mat-select formControlName="pgt" required (selectionChange)="pgtType($event)">
                  <mat-option *ngFor="let pg of url?.pagamentos" [value]="pg" required>
                     {{pg}}
                  </mat-option>
               </mat-select>
            </mat-form-field>
   
            <mat-form-field appearance="fill" *ngIf="pgt == 'Dinheiro'">
               <mat-label>Troco</mat-label>
               <input matInput formControlName="troco" placeholder="Troco" type="number" autocomplete="off">
            </mat-form-field>
   
            <div>
               <mat-form-field appearance="fill" style="width: 150px;">
                  <mat-label>Cupom de desconto</mat-label>
                  <input matInput formControlName="desconto" placeholder="Cupom de desconto" style='text-transform:uppercase' autocomplete="off">
               </mat-form-field>
               <button mat-icon-button (click)="descount()" [disabled]="disable">
                  <mat-icon color="primary">check</mat-icon>
               </button>
            </div>
            
   
         </form>
   
         <mat-card class="card" *ngFor="let c of cart; let i=index" class="card">
            <div class="cont1">
               <h4 style="margin-top: 5px;">{{c.pedido}}</h4>
            </div>
   
            <div class="cont2">
               <div class="info1">
                  <button mat-icon-button (click)="min(c, i)">
                     <mat-icon color="primary">remove_circle</mat-icon>
                  </button>
                  {{c.quantidade}}
                  <button mat-icon-button (click)="add(c, i)">
                     <mat-icon color="primary">add_circle</mat-icon>
                  </button>
                  <button mat-icon-button (click)="remove(i)">
                     <mat-icon color="warn">delete</mat-icon>
                  </button>
               </div>
   
               <div class="info2">
                  <div class="precoInfo">
                     <h4 style="text-align:center; color: red; font-weight: bold;">{{c.preco | currency: 'R$'}}</h4>
                  </div>
               </div>
            </div>
   
            <div class="cont3" [formGroup]="sabor">
               <div formArrayName="sabores">
                  <mat-form-field appearance="fill" *ngIf="c.sabor && c.sabor != [] ">
                     <mat-label>Sabor</mat-label>
                     <mat-select [formControlName]="i" [multiple]="c.multiSabor">
                        <mat-option *ngFor="let s of c.sabor" [value]="s">
                           {{s}}
                        </mat-option>
                     </mat-select>
                  </mat-form-field>
               </div>
            </div>
   
   
         </mat-card>
      </div>
   
      <div class="area-finish">
         <article style="margin-top: 10px; font-size: 1.5em;">Total pedido: <b style="color: red;">{{total | currency:
               'R$'}}</b> </article>
         <button mat-raised-button [disabled]="!obs.valid " color="primary"
            style="width:200px; color:#fff; margin-top: 10px;" (click)="finishCart()" *ngIf="url?.receberPorWhatsapp; else premium">Enviar
            Pedido</button>
   
         <ng-template #premium>
            <button mat-raised-button [disabled]="!obs.valid" color="primary"
            style="width:200px; color:#fff; margin-top: 10px;" (click)="finishPremium()" >Finalizar pedido</button>
         </ng-template>
      </div>
   </div>
   <ng-template #loaded>
      <div style="width:100%;height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
         <mat-spinner></mat-spinner>
      </div>
   </ng-template>
</ng-container>

<ng-template #logar>
   <div style="padding-top: 65px; width: 100%; height: 90%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <h1 style="color: #ff5722; font-weight: 700; text-align: center; margin: 0 5% 0 5%;">Entre na sua conta para continuar com a compra</h1>
      <button mat-raised-button style="color:cornflowerblue; background-color: white; width: 200px; margin-top: 10px;" (click)="login()">Entrar com Google</button>
      <button mat-raised-button style="color:white; background-color: #1f3a93; width: 200px; margin-top: 10px;" (click)="loginFacebook()">Entrar com Facebook</button>
   </div>
</ng-template>
